<% include ../partials/header %>

<div class="container"> 
    
    <header class="jumbotron shadow-2">
        <div class="container"> 
            <h1>Beautiful Pics from the Great State of</h1>  
            <h2 class="display-4">OREGON</h2>
            <p>All photos are part of the Public Domain and are free for use!</p>
            <a class="btn btn-primary btn-lg" href="/pics/new"><i class="fas fa-share fa-sm"></i> Share A Picture</a>
        </div>
    </header>
    
    <div class="col-md-12">
        <% if(noMatch !== undefined) { %>
            <h3><%= noMatch %></h3>
        <% } %>
    </div>
    
    
    <div class="row text-center">
        <% pics.forEach(function(pic) { %>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="card shadow-2">
                    <a href="/pics/<%= pic._id %>">
                    <img class="card-img-top" alt="Link to Pic Page" src="<%= pic.picURL %>">
                </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= pic.picName %></h5>
                        
                        <% if (pic.rating === 0) { %>
                            <p class="text-secondary"><em>No reviews yet</em></p>
                        <% } else { %>
                        <div class="mb-3">
                            <span class="fas fa-star checked"></span>
                            <span class="fas fa-star <% if (pic.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 4.5) { %> checked <% } %>"></span>
                            <em class="text-secondary">(<%= pic.reviews.length %>)</em>
                        </div>
                        <% } %>
                        
                        <a href="/pics/<%= pic._id %>" class="btn btn-outline-primary btn-sm"><i class="fas fa-info-circle"></i> More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
    <!--PAGINATION-->
    <div class="row text-center">
        <div class="mx-auto">
            <nav aria-label="Pic Pages"></nav>
            <% if (pages && pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                    <li class="disabled page-item"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/pics">First</a></li>
                <% } %>
 
                <% if (current == 1) { %>
                    <li class="disabled page-item"><a class="page-link">«</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/pics?page=<%= Number(current) - 1 %>">«</a></li>
                <% } %>
 
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active page-item"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/pics?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled page-item"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
 
                <% if (current == pages) { %>
                    <li class="disabled page-item"><a class="page-link">»</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/pics?page=<%= Number(current) + 1 %>">»</a></li>
                <% } %>
 
                <% if (current == pages) { %>
                    <li class="disabled page-item"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/pics?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
        </nav>
        </div>
    </div>
        
</div>

<% include ../partials/footer %>