<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Photo Specs</p>
            <div class=list-group>
                <li class="list-group-item"><em>Camera Make: </em><strong><%= pic.cameraMake %></strong></li>
                <li class="list-group-item"><em>Camera Model: </em><strong><%= pic.cameraModel %></strong></li>
                <li class="list-group-item"><em>Focal Length: </em><strong><%= pic.focalLength %></strong></li>
                <li class="list-group-item"><em>Aperture: </em><strong><%= pic.aperature %></strong></li>
                <li class="list-group-item"><em>Shutter Speed: </em><strong><%= pic.shutterSpeed %></strong></li>
                <li class="list-group-item"><em>ISO: </em><strong><%= pic.iso %></strong></li>
            </div>
            <p class="lead mt-4">Map</p>
            <div id="map"></div>
        </div>
        
        <div class="col-md-9">
            <div class="card"> 
                <div class="card-body">
                    <a href="<%= pic.picURL %>">
                        <img alt="Link to Full Size Image" src="<%= pic.picURL %>">
                    </a>
                    <div class="row justify-content-between">
                        <h4><a href=""><%= pic.picName %></a></h4>
                        <h4><%= pic.picLocation %></h4>
                    </div>
                    <p><%= pic.picDescription %></p>
                    
                    <p><em>Submitted By: <a href="/users/<%= pic.author.id %>"><%= pic.author.username %></a>, <%= moment(pic.createdAt).fromNow() %></em></p>
                    
                    <!-- if there is a current user, AND if the pic's user id is the same as the current user's id, -->
                    <!-- then show the EDIT and DELETE buttons.-->
                    <!-- Also allow administrators to use the EDIT and DELETE buttons. -->
                    <% if(currentUser && pic.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-sm btn-outline-warning" href="/pics/<%= pic._id %>/edit">Edit</a>
                        <form class="delete-form" action="/pics/<%= pic._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            
            
            <!--REVIEW SECTION-->
            <div class="card bg-light shadow-2">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <h4>User Reviews</h4>
                        <a class="btn btn-primary btn-md <% if (currentUser && pic.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/pics/<%= pic._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                    <% if (pic.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star <% if (pic.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (pic.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (pic.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (pic.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= pic.reviews.length %>)</em>
                    </p>
                    <p class="pb-4">
                        Current pic rating: <strong><%= pic.rating.toFixed(2) %></strong>
                    </p>
                    <h5>Recent Reviews:</h5>
                    <hr style="margin-top: 0;">
                    <% pic.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fas fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p><%= review.text %></p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <div class="row">
                            <a class="btn btn-sm btn-outline-warning mr-1"
                               href="/pics/<%=pic._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/pics/<%=pic._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete">
                            </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/pics/<%= pic._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                </div>
            </div>
            
            <!--COMMENTS SECTION-->
            <div class="card bg-light shadow-2">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <h4>User Comments</h4>
                        <a class="btn btn-md btn-success" href="/pics/<%= pic._id %>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <!--show all comments -->
                    <% pic.comments.forEach(function(comment) { %>
                        <div class="row justify-content-between">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        </div>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a class="btn btn-sm btn-outline-warning" href="/pics/<%= pic._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/pics/<%= pic._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        <% } %>
                        <hr>
                    <% }) %>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= pic.lat %>;
    var lng = <%= pic.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= pic.name %><br />
      <%= pic.location %></strong>
      <p><%= pic.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvVOhzy1ADsjDGLNI5f6bKvfxC3FmFMcU&callback=initMap"></script>

<% include ../partials/footer %>